body {
   background-color: rgb(112, 96, 65);
}

h1 {
   color: rgb(229, 218, 94);
   /*font-weight: bold;*/
   font-family: Brush Script MT;
   text-align: center;
   font-size: 80px;
   font-style: italic;
}

.midbody {
   background-color: rgb(224, 197, 145);
   margin: 30px;
   padding: 10px;
}

.selectGamePic {
   width: 30%;
   height: auto;
   /*margin-left: auto;
   margin-right: auto;*/
   display: block;
}