body {
   background-color: rgb(126, 190, 252);
}

header {
   background-color: rgb(35, 61, 86);
   padding-top: 20px;
   padding-bottom: 10px;
   padding-left: 5%;
   margin-left: -8px;
   margin-right: -8px;
   margin-top: -9px;
}

h1 {
   font-family: verdana;
   color: rgb(227, 237, 247);
   text-align: center;
}

.pic {
   width: 30%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   display: block;
}

.selectPic {
   width: 50%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   display: block;
}

.centerDate {
   font-family: verdana;
   text-align: center;
   font-weight: bold;
   color: rgb(35, 61, 86);
}

.center {
   margin: auto;
   width: 80%;
}

button {
   background-color: rgb(22, 85, 186);
   border: none;
   color: rgb(227, 237, 247);
   padding: 20px;
   text-align: center;
   font-family: verdana;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 50%;
   border-left: 100px;
}

button:hover {
   background-color: rgb(227, 237, 247);
   color: rgb(22, 85, 186);
}

#select {
   float: right;
   width: 50%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   display: block;
}

.link {
   color: rgb(227, 237, 247);
   text-align: center;
}