.flex {
    display: flex;
    justify-content: space-around;
}

.triplePic {
    display: flex;
    justify-content: space-around;
    width: 25%;
    height: auto;
    max-width: 300px;
    margin-left: 2%;
    margin-bottom: 5px;
    align-self: center;
}