header {
  background-color: rgb(112, 93, 25);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 10px;
}

h1 {
  font-family: Bradley Hand, cursive;
  font-size: 42px;
  color: rgb(252, 233, 166);
  text-align: center;
}

body {
  background-image: url("squirreltopiaBackground.jpg");
  background-attachment: fixed;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.group {
  display: flex;
}

.triplePic {
  display: flex;
  justify-content: space-around;
  width: 30%;
  height: 50%;
  max-width: 300px;
  max-height: 300px;
  margin-left: 2%;
  margin-bottom: 5px;
  align-self: center;
}

p {
  background-color: rgb(173, 146, 52);
  color: rgb(22, 19, 8);
  border: 1px solid #161308; /*dark brown*/
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  font-family: Bradley Hand, cursive;
  font-size: 18px;
  max-width: 200px;
  margin: 4px 2px;
}

.linkPage {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  font-family: Bradley Hand, cursive;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}

.linkPage:hover {
  background-color: black;
  color: white;
}

.btn {
  background-color: rgb(226, 199, 104);
  color: rgb(22, 19, 8);
  border: 5px solid #161308; /*dark brown*/
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  font-family: Bradley Hand, cursive;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(22, 19, 8);
  color: rgb(226, 199, 104);
}

.intro {
  color: rgb(252, 233, 166);
  font-weight: bold;
  font-family: Bradley Hand, cursive;
  font-size: 16px;
  text-align: center;
}

.purchase {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  font-family: Bradley Hand, cursive;
  font-size: 18px;
  font-weight: bold;
  margin: 4px 2px;
}

.addBtn {
  background-color: rgb(32, 193, 94);
  color: rgb(218, 229, 222);
  border: 5px solid #161308; /*dark brown*/
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  font-family: Bradley Hand, cursive;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}

.addBtn:hover {
  background-color: rgb(218, 229, 222);
  color: rgb(32, 193, 94);
}

.deleteBtn {
  background-color: rgb(191, 53, 32);
  color: rgb(218, 229, 222);
  border: 5px solid #161308; /*dark brown*/
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  font-family: Bradley Hand, cursive;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: rgb(218, 229, 222);
  color: rgb(191, 53, 32);
}